{% extends "layout.html" %}
    {% block content %}   
    <div class="wrapper">
        <div class="message_box">
            <h2 style="color:#1785A8">Contact Us</h2>
            <p style="font-size:18px; color:black" align="justify">
                <b>Gaurav Ahuja Ph.D</b><br>
                Assistant Professor<br>
                The Chemosensory Lab<br>
                Department of Computational Biology<br>
                Indraprastha Institute of Information Technology, Delhi<br>
                New Delhi-110020, India <br>
                <b>Email:</b> <a href = "mailto:gaurav.ahuja@iiitd.ac.in">gaurav.ahuja@iiitd.ac.in </a><br>
                <b>Phone:</b> (+91)11-26907475<br>
                <b>Lab Website: </b> <a href="https://ahuja-lab.in/">ahuja-lab.in</a>
                </p>

        </div> 
        <div class="right-box-pro">
            <img width="70%" height="100%" src="{{ url_for('static', filename='images/lab.jpg') }}" alt="No image Found" class="img-fluid"/>   
        </div> 
        <div class="dev-info">
            <h2 style="color:#1785A8">Developer</h2>
            <p style="font-size:18px; color:black" align="justify">
                <b>Roshan S</b><br>                             
                Department of Computer Science and Engineering<br>
                Indraprastha Institute of Information Technology, Delhi<br>
                New Delhi-110020, India <br>
                <b>Email:</b> <a href = "mailto:roshan20039@iiitd.ac.in">roshan20039@iiitd.ac.in </a> <br>              
                </p>

                <p style="font-size:18px; color:black" align="justify">
                <b>Ria Gupta</b><br>                             
                Department of Computational Biology<br>
                Indraprastha Institute of Information Technology, Delhi<br>
                New Delhi-110020, India <br>
                <b>Email:</b><a href = "mailto:ria18405@iiitd.ac.in"> ria18405@iiitd.ac.in </a><br>                 
                </p>
        </div>       
    </div>       
    {% endblock %} 