
<script type="text/javascript">
   function clearFunction(){
     document.getElementById('textSmilesInput').value = "";
}; 
   function loadSampleFunction(){
     document.getElementById('textSmilesInput').value = "NC1=C(C)C=CC(=C1)N";
}; 
</script>


{% extends "layout.html" %}
    {% block content %}    
        <div id="smilesInputForm">
            <form action="{{ url_for('predict_') }}" method="post", onsubmit="return onsubmitform();">
                <h5>
                    Enter a SMILE (one per line)
                </h5> <br>
                <textarea id="textSmilesInput" name="textSmiles" cols="100" rows="10" placeholder="Enter a SMILE (Only 1 SMILE would be computed)" style="border:solid 1px;" required></textarea> 
                <br><br>
                <input type="submit" class = "btn-primary" value="Predict">
            </form>
            <br>
            <button onClick="loadSampleFunction();">Load Sample Input</button>
            <button onClick="clearFunction();">Clear Input</button>
        </div>
        <br>
        {% if predicted %}
        <h5> Results have been computed, please navigate to the <a href="{{ url_for('visualize') }}">Results</a> tab.</h5>
        {% endif %}
    {% endblock %} 